<!doctype html>
{% load i18n %}
{% get_current_language as LANG_CODE %}
<html lang="{{ LANG_CODE }}">

{% load static %}

{% url 'login' as login %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Simple.css-->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css?version=2.1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% translate "Topics Recommender" %}</title>
</head>

<body>
    <header>
        <h1>{% translate "GitHub Topics" %}</h1>
    </header>

    <main>
        <h3>{% translate "Start Session" %}</h3>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}

            {{ form }}
            <!-- <p>
                <label for="n">Please enter a nickname:</label>
            </p>
            <input name="n" type="text" placeholder="name"> -->
            <button type="submit">{% translate "Submit" %}</button>
        </form>
        
    </main>

<footer>
    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        <select name="language">
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="Go">
    </form>            

    <p>&copy; 2022 {% translate "Yamamoto Lab, Kanazawa Institute of Technology" %}</p>
</footer>
</body>
</html>