<!doctype html>
<html lang="en">

{% load static %}

{% url 'login' as login %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Simple.css-->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Topics Recommender</title>
</head>

<body>
    <header>
        <h1>GitHub Topics</h1>
    </header>

    <main>
        <h3>Start Session</h3>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}

            {{ form }}
            <!-- <p>
                <label for="n">Please enter a nickname:</label>
            </p>
            <input name="n" type="text" placeholder="name"> -->
            <button type="submit">Submit</button>
        </form>
        
    </main>

<footer>
    <p>&copy; 2022 Yamamoto Lab, Kanazawa Institute of Technology</p>
</footer>
</body>
</html>