<!doctype html>
{% load i18n %}
{% get_current_language as LANG_CODE %}
<html lang="{{ LANG_CODE }}">

{% load static %}

{% url 'index' as home %}
<!-- {% url 'search' as search %} -->
{% url 'login' as login %}
{% url 'logout' as logout %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Simple.css
    https://cdn.simplecss.org/simple.min.css?version=2.1.0 -->
    <link rel="stylesheet" href="{% static 'css/simple.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% translate "Topics Recommender" %}</title>
</head>

<body>
    <header>
        <h1>{% translate "Recommendation Task" %}</h1>    

{% if request.session.id %}
        <!-- <p>
            <a href="{{ logout }}">{% translate "Logout" %}</a>
        </p> -->

        <!-- <nav>
            <a href="{{ search }}"{% if request.path == search %} class="current"{% endif %}>{% translate "New Search" %}</a>
        </nav> -->
    </header>

    {% block content %}
    {% endblock content %}


{% else %}
    </header>

    <main>
        <p>{% translate "Let's get started" %} &#8594; <a href="{{ login }}">{% translate "Login"%}</a></p>
    </main>
{% endif %}

    <footer>

        <!-- <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <select name="language">
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="{% translate 'Change language' %}">
        </form>             -->

{% if timestamp %}
        <p>{% translate "Request received" %}: {{ timestamp }}</p>
{% endif %}
{% if total_time %}
        <p>{% blocktranslate %}Response rendered in {{ total_time }} seconds.{% endblocktranslate %}</p>
{% endif %} 

        <p>&copy; 2022 {% translate "Yamamoto Lab, Kanazawa Institute of Technology" %}</p>
    </footer>
</body>
</html>