<!doctype html>
{% load i18n %}
{% get_current_language as LANG_CODE %}
<html lang="{{ LANG_CODE }}">

{% load static %}
{% url 'login' as login %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Simple.css
    https://cdn.simplecss.org/simple.min.css?version=2.1.0 -->
    <link rel="stylesheet" href="{% static 'css/simple.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% translate "Grouping Task" %}</title>

    <style>
        :root {
            --drag-bg: #E2FDD8;
        }
        table, tbody, tr, th {
            width: 100%;
        }
        .drop-target {
            max-width: 100%;
            height: 4.5rem;
            padding: 0.3rem;
            border: 1px solid var(--border);
            background-color: var(--drag-bg);
        }
        .draggable {
            display:inline-block;
            padding: 0 0.5rem;
            margin: 0;
            width: 2.5rem;
            text-align: center;
            border: 1px solid var(--border);
            border-radius: 5px;
            background-color: var(--drag-bg);
            cursor: grab;
            cursor: move;
            cursor: -moz-grab;
            cursor: -webkit-grab;
        }
        .draggable:active {
            cursor: grabbing;
            cursor: -moz-grabbing;
            cursor: -webkit-grabbing;
        }
        li {
            padding-bottom: 0.5rem;
        }
    </style>
    <script>
        var target;
        function preventDefault(event) {
            event.preventDefault();
        }
        function drag(event) {
            event.dataTransfer.setData("text", event.target.id);
        }
        function drop(event) {
            event.preventDefault();
            
            // visually place the draggable into the drop target
            let n = document.querySelector(`#${event.dataTransfer.getData("text")}`);
            target = event.target;
            if (event.target.tagName.toLowerCase() === 'li') {
                origin = document.querySelector(`#${n.id}-origin`);
                origin.insertBefore(n, origin.firstChild);
            } else {
                event.target.closest('div').appendChild(n);
            }

            // update input values according to the content of their respective divs
            document.querySelectorAll(".drop-target").forEach(element => {
                let input = document.querySelector(`input[name="${element.id}"`);
                input.value = element.innerText
            });
        }
    </script>
</head>

<body>
    <header>
        <h1>{% translate "Grouping Task" %}</h1>
    </header>

    <main>
        <h3>{% translate "Instructions" %}</h3>
        <p>
            {% blocktranslate %}
            Below is a list of ideas about television that came from brainstorming. Your task is to group similar ideas together. Look for ideas that appear to have a common trait or belong in the same category, then <strong>drag and drop</strong> their numbers into one of the green boxes on the right. Write a title in the text field above each green box to describe the category that the ideas in that box represent. You should group the ideas into 3 - 5 categories.
            {% endblocktranslate %}
        </p>
        <form action="{% url 'ctt' %}" method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <th>
                        <h4>{% translate "Ideas" %}</h4>
                    </th>
                    <th>
                        <h4>{% translate "Categories" %}</h4>
                    </th>
                </tr>
                <tr>
                    <td ondragover="preventDefault(event)" ondrop="drop(event)">
                        <ol>
                            <li id="n1-origin">
                                <span id="n1" class="draggable" draggable="true" ondragstart="drag(event)">1.</span>
                                {% translate "Almost everyone has a TV" %}
                            </li>
                            <li id="n2-origin">
                                <span id="n2" class="draggable" draggable="true" ondragstart="drag(event)">2.</span>
                                {% translate "Cartoons for children" %}
                            </li>
                            <li id="n3-origin">
                                <span id="n3" class="draggable" draggable="true" ondragstart="drag(event)">3.</span>
                                {% translate "Storytelling" %}
                            </li>
                            <li id="n4-origin">
                                <span id="n4" class="draggable" draggable="true" ondragstart="drag(event)">4.</span>
                                {% translate "News" %}
                            </li>
                            <li id="n5-origin">
                                <span id="n5" class="draggable" draggable="true" ondragstart="drag(event)">5.</span>
                                {% translate "Violent content" %}
                            </li>
                            <li id="n6-origin">
                                <span id="n6" class="draggable" draggable="true" ondragstart="drag(event)">6.</span>
                                {% translate "Easy to believe what we see on TV" %}
                            </li>
                            <li id="n7-origin">
                                <span id="n7" class="draggable" draggable="true" ondragstart="drag(event)">7.</span>
                                {% translate "Millions of people watch TV" %}
                            </li>
                            <li id="n8-origin">
                                <span id="n8" class="draggable" draggable="true" ondragstart="drag(event)">8.</span>
                                {% translate "Waste of time" %}
                            </li>
                            <li id="n9-origin">
                                <span id="n9" class="draggable" draggable="true" ondragstart="drag(event)">9.</span>
                                {% translate "Baseball" %}
                            </li>
                            <li id="n10-origin">
                                <span id="n10" class="draggable" draggable="true" ondragstart="drag(event)">10.</span>
                                {% translate "Advertising" %}
                            </li>
                            <li id="n11-origin">
                                <span id="n11" class="draggable" draggable="true" ondragstart="drag(event)">11.</span>
                                {% translate "Educational" %}
                            </li>
                            <li id="n12-origin">
                                <span id="n12" class="draggable" draggable="true" ondragstart="drag(event)">12.</span>
                                {% translate "Soccer" %}
                            </li>
                            <li id="n13-origin">
                                <span id="n13" class="draggable" draggable="true" ondragstart="drag(event)">13.</span>
                                {% translate "Most families have more than one TV" %}
                            </li>
                            <li id="n14-origin">
                                <span id="n14" class="draggable" draggable="true" ondragstart="drag(event)">14.</span>
                                {% translate "Dramas" %}
                            </li>
                            <li id="n15-origin">
                                <span id="n15" class="draggable" draggable="true" ondragstart="drag(event)">15.</span>
                                {% translate "Makes me lazy" %}
                            </li>
                            <li id="n16-origin">
                                <span id="n16" class="draggable" draggable="true" ondragstart="drag(event)">16.</span>
                                {% translate "Average 3 hours a day watching TV" %}
                            </li>
                            <li id="n17-origin">
                                <span id="n17" class="draggable" draggable="true" ondragstart="drag(event)">17.</span>
                                {% translate "Golf" %}
                            </li>
                            <li id="n18-origin">
                                <span id="n18" class="draggable" draggable="true" ondragstart="drag(event)">18.</span>
                                {% translate "Insults viewers' intelligence" %}
                            </li>
                        </ol>
                    </td>
                    <td>
                        <div>
                            <label for="title1">{% translate "Title" %}:&nbsp;</label>
                            <input name="title1" type="text" ondragover="preventDefault(event)">
                        </div>
                        <div id="cat1" class="drop-target" ondrop="drop(event)" ondragover="preventDefault(event)"></div>
                        <input name="cat1" type="hidden">
                        <div>
                            <label for="title2">{% translate "Title" %}:&nbsp;</label>
                            <input name="title2" type="text" ondragover="preventDefault(event)">
                        </div>
                        <div id="cat2" class="drop-target" ondrop="drop(event)" ondragover="preventDefault(event)"></div>
                        <input name="cat2" type="hidden">
                        <div>
                            <label for="title3">{% translate "Title" %}:&nbsp;</label>
                            <input name="title3" type="text" ondragover="preventDefault(event)">
                        </div>
                        <div id="cat3" class="drop-target" ondrop="drop(event)" ondragover="preventDefault(event)"></div>
                        <input name="cat3" type="hidden">
                        <div>
                            <label for="title4">{% translate "Title" %}:&nbsp;</label>
                            <input name="title4" type="text" ondragover="preventDefault(event)">
                        </div>
                        <div id="cat4" class="drop-target" ondrop="drop(event)" ondragover="preventDefault(event)"></div>
                        <input name="cat4" type="hidden">
                        <div>
                            <label for="title5">{% translate "Title" %}:&nbsp;</label>
                            <input name="title5" type="text" ondragover="preventDefault(event)">
                        </div>
                        <div id="cat5" class="drop-target" ondrop="drop(event)" ondragover="preventDefault(event)"></div>
                        <input name="cat5" type="hidden">
                    </td>
                </tr>
            </table>
            <p>
                {% blocktranslate %}
                Please review your categories and titles before clicking the button below to finish.
                {% endblocktranslate %}
            </p>
        
            <button type="submit">{% translate "Submit" %}</button>
        </form>
        
    </main>

<footer>
    <p>&copy; 2022 {% translate "Yamamoto Lab, Kanazawa Institute of Technology" %}</p>
</footer>
</body>
</html>