{% extends "base.html" %}

{% load i18n %}

{% block content %}

<main>
    <h3>{% translate "Chosen Topics" %}</h3>
    <p>
        {% blocktranslate %}
        Thank you for submitting your chosen topics. Please review the list below. You may use the Back button on your browser to return to the previous screen if you would like to change any of the chosen topics.
        {% endblocktranslate %}
    </p>
    <ol>
        {% for topic in request.session.topics %}
        <li>
            {{ topic }}
        </li>
        {% endfor %}
    </ol>

    <p>
        {% if num_topics == 3 %} <!-- Version 1 -->
            {% blocktranslate %}
            Next is the <strong>Creativity Task</strong>. Click the button below when you are ready to proceed.
            {% endblocktranslate %}
        {% else %} <!-- Version 2 -->
            {% blocktranslate %}
            If you are satisfied with your chosen topics, please click the <strong>Submit</strong> button below.
            {% endblocktranslate %}
        {% endif %}
    </p>
    <form method="POST">
        {% csrf_token %}
        {% if num_topics == 3 %} <!-- Version 1 -->
        <input type="submit" value="{% translate 'Next' %}">
        {% else %} <!-- Version 2 -->
        <input type="submit" value="{% translate 'Submit' %}">
        {% endif %}
    </a>
</main>

{% endblock content %}