nav a:active,
nav a.current {
    color: var(--accent) !important;
    border-color: var(--accent);
}

.autocomplete {
    /* the container must be positioned relative */
    position: relative;
    display: inline-block;
    width: 300px;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid var(--border);
    /* border-bottom: none;
    border-top: none; */
    z-index: 99;
    max-height: 250px;
    overflow: auto;
    /* position the autocomplete items to be the same width as the container */
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: var(--bg);
    border: 1px solid var(--border)
}
.autocomplete-items div:hover {
    /* when hovering an item */
    background-color: var(--accent-bg);
}
.autocomplete-active {
    /* when navigating through the items using the arrow keys */
    background-color: var(--accent) !important;
    color: var(--bg);
}

main img.screen {
    border: 1px solid var(--border);
}